@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	display: grid;
	grid-template-columns: min(300px, 25%) 1fr min(300px, 25%);
	grid-template-rows: 150px 1fr;
	--padding: 2vw;
}

.sidebar-container {
	grid-row: 1/-1;
	background-color: #14b8a6;
	color: white;
}
.sidebar-title {
	display: flex;
	padding: 0px 8%;
	align-items: center;
}

.sidebar-list {
	padding: 0px 10%;
}

ul {
	padding: 0;
	list-style-type: none;
}

.pages {
}

.settings {
}

.header-container {
	grid-column: 2/ 4;
	padding: 0px var(--padding);
}

#search-icon {
	width: 20px;
}

#search {
}

nav {
	display: grid;
	grid-template-columns: 30px 2fr 1fr;
	align-items: center;
}

.search-bar {
}

.nav-list {
	display: flex;
	padding: 0px var(--padding);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-name {
	display: flex;
	align-items: center;
}

.header-list {
	display: flex;
	justify-content: center;
}

main {
	grid-column: 2/3;
	align-items: start;
	padding: var(--padding);
	background-color: #134e4a;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 32%));
	grid-template-rows: repeat(2, 250px);
	gap: 2%;
}

main > h3 {
	display: block;
	width: 100%;
	height: 25px;
	color: white;
	font-size: 1.5rem;
}

.card {
	background-color: white;
	border-radius: 10px;
	padding: var(--padding);
	margin-bottom: 2%;
}

aside {
	padding: var(--padding);
}

.announcement-list,
.trending-list {
}
