@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	display: grid;
	grid-template-columns: minmax(300px, 15%) 1fr minmax(300px, 18%);
	grid-template-rows: 180px 1fr;
	font-size: large;
	--padding: 2vw;
	--inPadding: 1.5vw;
}

.sidebar-container {
	display: grid;
	position: relative;
	grid-template-rows: 125px 350px 1fr 50px;
	grid-row: 1/-1;
	background-color: #14b8a6;
	color: white;
	font-size: 1.3rem;
	font-weight: 600;
	box-shadow: #475569 1px 1px 5px;
	z-index: 2;
}
.sidebar-title a {
	display: flex;
	position: fixed;
	align-items: center;
	padding: 0px 2%;
	gap: 10px;
}

.sidebar-list.pages {
	display: grid;
	position: fixed;
	grid-template-rows: repeat(6, 50px);
	margin: 100px 3%;
	align-content: flex-start;
}

.sidebar-list.settings {
	display: grid;
	position: fixed;
	grid-template-rows: repeat(6, 50px);
	margin: 425px 3%;
	align-content: flex-start;
}

footer {
	position: fixed;
	top: 96vh;
	justify-self: center;
}

.copyright {
	display: flex;
	gap: 5px;
	font-size: 1rem;
	text-align: center;
	color: #475569;
}

a {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;
}

.sidebar-container a:link,
.sidebar-container a:visited {
	text-decoration: none;
	color: white;
}

a:link,
a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	transform: scale(1.05);
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.sidebar-icons {
	width: 2rem;
	fill: white;
}

.header-container {
	display: grid;
	grid-template-rows: 2fr 3fr;
	grid-column: 2/ 4;
	padding: 0px calc(20px +var(--padding));
	box-shadow: #475569 1px 1px 5px;
	z-index: 2;
}

#search-icon {
	width: 30px;
}

#search {
	width: 75%;
	border-radius: 25px;
	height: 35px;
	background-color: #e2e8f0;
	border: 0px;
	padding: 0px 10px;
}

nav {
	display: grid;
	grid-template-columns: 30px 3fr 1fr;
	align-items: center;
}

.search-bar {
}

.nav-list {
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 0px 5%;
	font-size: 1.2rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-name {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 10px;
	align-items: center;
	justify-items: center;
}

.profile-name img {
	transform: scale(1.5);
}

.header-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	justify-items: center;
	gap: 10px;
}

.header-list button {
	padding: 10px 30px;
	background-color: #14b8a6;
	color: white;
	border-radius: 25px;
	border: 0px;
	font-size: 1rem;
	font-weight: 600;
}

.header-list button:hover {
	transform: scale(1.05);
	background-color: #0d9488;
}

main {
	grid-column: 2/3;
	align-items: start;
	padding: var(--padding);
	background-color: #e2e8f0;
	z-index: 1;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
	grid-template-rows: repeat(2, 300px);
	grid-auto-rows: 300px;
	gap: 1vw;
}

main > h3,
aside > h3 {
	display: block;
	width: 100%;
	height: 25px;
	font-size: 1.5rem;
	position: inherit;
}

.card {
	background-color: white;
	border-radius: 10px;
	padding: var(--inPadding);
	box-shadow: #475569 3px 3px 3px;
}

aside {
	grid-template-columns: 3/4;
	background-color: #e2e8f0;
	padding: var(--inPadding);
	z-index: 1;
}

.announcement-list,
.trending-list {
	display: grid;
	gap: 10px;
	background-color: white;
	border-radius: 10px;
	padding: var(--inPadding);
	box-shadow: #475569 1px 1px 3px;
}

.aside > h3,
.announcement-list h4,
h5,
p {
	margin: 0px;
}

.profile-pics {
	width: 50px;
	border-radius: 100%;
}

.announcement-list p,
.trending-list p {
	font-size: 0.8rem;
	color: gray;
}

.trending-item {
	display: grid;
	grid-template-columns: 60px 1fr;
}

.trending-item .profile-pics {
	border: 2px solid #e2e8f0;
}
